@inherits LayoutComponentBase

<div>
    <HxNavbar Color="ThemeColor.Light">
        <AuthorizeView>
            <Authorized>
                <HxButton @onclick="NavigateToAdmin" Color="ThemeColor.Primary">Manage
                </HxButton>
            </Authorized>
            <NotAuthorized>
                <HxButton @onclick="NavigateToLogin" Color="ThemeColor.Primary">Login</HxButton>
            </NotAuthorized>
        </AuthorizeView>
    </HxNavbar>
    <div class="container p-4">
        <div>
            @Body
        </div>
    </div>
</div>

@code {

    private void NavigateToLogin() => NavigationManager.NavigateTo("auth/login", true);
    private void NavigateToAdmin() => NavigationManager.NavigateTo("manage/leagues");

}