<div class="col-flex">
    <HxAutosuggest
        TItem="TournamentParticipation"
        TValue="int?"
        @bind-Value="Value"
        DataProvider="ProvideSuggestions"
        ValueSelector="t => t.Id"
        TextSelector='t => $"{t.Player.FirstName} {t.Player.LastName} ({t.Player.Email})"'
    MinimumLength="0"
    ItemFromValueResolver="ItemFromValueResolver"
    InputGroupStartText='@(IsWhite ? "White" : null)'
    InputGroupEndText='@(!IsWhite ? "Black" : null)'
    SearchIcon="null"/>
</div>

@code {
    [Parameter] public int? Value { get; set; }
    [Parameter] public EventCallback<int?> ValueChanged { get; set; }
    [Parameter] public ICollection<TournamentParticipation>? Players { get; set; }
    [Parameter] public bool IsWhite { get; set; } = true;

    private Task<AutosuggestDataProviderResult<TournamentParticipation>> ProvideSuggestions(AutosuggestDataProviderRequest request)
    {
        var match = Players?.Where(x => x.Player.FirstName.Contains(request.UserInput)).ToList();
        return Task.FromResult(new AutosuggestDataProviderResult<TournamentParticipation> { Data = match });
    }

    private Task<TournamentParticipation?> ItemFromValueResolver(int? value)
    {
        if (value is null || Players is null)
        {
            return Task.FromResult<TournamentParticipation?>(null);
        }

        return Task.FromResult(Players.FirstOrDefault(x => x.Id == value));
    }
}
