<HxTabPanel NavVariant="NavVariant.Pills">
    @foreach (var round in Rounds)
    {
        <HxTab Title="@round.RoundNumber.ToString()">
            <Content>
                <div class="mt-4">
                    <EditTournamentRound TournamentId="round.TournamentId" TournamentRoundId="@round.Id"
                                         Players="Players"/>
                </div>
            </Content>
        </HxTab>
    }
</HxTabPanel>

@code {
    private ICollection<TournamentRound> Rounds { get; set; } = [];
    private List<TournamentParticipation> Players { get; set; } = [];

    [CascadingParameter(Name = "TournamentId")]
    protected string TournamentId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        Rounds = await dbContext.TournamentRounds
            .Include(x => x.Games)
            .Where(x => x.TournamentId == int.Parse(TournamentId))
            .OrderBy(x => x.RoundNumber)
            .ToListAsync();
        Players = await dbContext.TournamentParticipations
            .Include(x => x.Player)
            .Where(x => x.TournamentId == int.Parse(TournamentId))
            .ToListAsync();
    }


}