@page "/Manage/Leagues/{id}/AddPlayer"
@using System.ComponentModel.DataAnnotations

<EditForm Model="@model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <h3>Add Player</h3>
    <HxInputText @bind-Value="@model.FirstName" CssClass="mb-2" Placeholder="First Name" AutoFocus/>
    <HxInputText @bind-Value="@model.LastName" CssClass="mb-2" Placeholder="Last Name"/>
    <HxInputText @bind-Value="@model.Email" CssClass="mb-2" Placeholder="Email" InputMode="InputMode.Email"/>
    <HxSubmit Color="ThemeColor.Primary">Add Player</HxSubmit>
</EditForm>

@code {
    [Parameter] public required string Id { get; set; }

    private Model model = new();

    private async Task Submit()
    {
        var league = await LeagueService.GetLeague(Id);
        league.LeagueParticipations.Add(new LeagueParticipation
        {
            Player = new Player
            {
                FirstName = model.FirstName,
                LastName = model.LastName,
                Email = model.Email
            }
        });

        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        await dbContext.SaveChangesAsync();

        model = new Model();
    }

    public class Model
    {
        [Required] [MinLength(1)] public string FirstName { get; set; }

        [Required] [MinLength(1)] public string LastName { get; set; }

        [Required] [MinLength(1)] public string Email { get; set; }
    }

}