@page "/Manage/Leagues/New"
@using System.ComponentModel.DataAnnotations

<EditForm Model="@model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator/>
    <h3>Create New League</h3>
    <HxInputText @bind-Value="@model.Name" autofocus CssClass="mb-2" InputGroupStartText="Name"/>
    <HxSubmit Color="ThemeColor.Primary">Save</HxSubmit>
</EditForm>

@code {
    private Model model = new();

    private async Task OnSubmit(EditContext context)
    {
        var user = await UserService.GetUser();
        var league = new League
        {
            Name = model.Name,
            Organizers =
            {
                new LeagueOrganizer
                {
                    IsOwner = true,
                    UserId = user.Id
                }
            }
        };

        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        var leagueEntity = await dbContext.Leagues.AddAsync(league);
        await dbContext.SaveChangesAsync();
        NavigationManager.NavigateTo("Manage/Leagues/" + leagueEntity.Entity.Id);
    }

    public class Model
    {
        [Required] [MinLength(1)] public string Name { get; set; }
    }

}