<HxButton Color="ThemeColor.Primary" CssClass="mr-4"
          @onclick='() => NavigationManager.NavigateTo("/Manage/Leagues/" + LeagueId + "/NewTournament")'>Create
    Tournament
</HxButton>
<HxListGroup CssClass="mt-4">
    @foreach (var t in tournaments)
    {
        <HxListGroupItem @onclick='() => NavigationManager.NavigateTo("Manage/Tournaments/" + t.Id)'>
            <div>
                <b>
                    @t.Name
                </b>
            </div>
            @if (t.Season != null)
            {
                <small>
                    Season: @t.Season.Name
                </small>
            }
        </HxListGroupItem>
    }
</HxListGroup>

@code {
    private ICollection<Core.Models.Tournament> tournaments { get; set; } = [];

    [CascadingParameter(Name = "LeagueId")]
    protected string LeagueId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        tournaments = await dbContext.Tournaments.Include(x => x.Season).Where(x => x.LeagueId == int.Parse(LeagueId)).ToListAsync();
    }

}